/* Global */

body{
  font-size: 18px;
}

.wtext{
  font-family: helvetica;
  font-size: 1rem;
  color:white;
}

.bold{
  font-weight: bold;
}

/* Header and Nav Area */
.banner{
  background-color:black;
  display:flex;
  align-items: center;
}

.banner h3{
margin-left: 1rem;
margin-top: .66rem;
margin-bottom: .66rem;
}

.banner img{
  height: 1.5rem;
  margin-left: 0.5rem;
}

.title{
  background-image: url(../images/moto.jpeg);
  height:25rem;
  width: 100%;
  background-repeat: no-repeat; background-position: center; background-size: cover;
}

.titlecontain{
  position: relative;
  left: 9rem;
  top: 9rem;

  width: 24rem;
  height:9rem;
  background-color: black;
}

.titletext{
position:relative;
top: 2rem;
left: 3rem;
}

.titletext h1{
font-size: 2rem;
white-space: pre-wrap;
margin-top: .25rem;
}


nav{
  height: 2.5rem;
  background-color: firebrick;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a{
  text-align: center;
  font-family: helvetica;
  font-size: 1rem;
  color:white;
  top: .75rem;
}

a:link {
    text-decoration: none;
}

/* Content Area */



/* Footer */
